<div class="container-fluid">
    <div class="index-footer">
        <div class="row">
            <!-- Keep in sync with viewContainer -->
            <div class="col-sm-12 offset-md-1 col-md-10">
                <div class="row">
                    <!-- Redes sociales -->
                    <div class="col-12 col-md-4 p-3">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="index-footer-nuestras-redes">
                                    Nuestas redes sociales
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <a class="btn btn-link" target="_blank" href="https://www.patreon.com/fundaciontoby"
                                    aria-label="Patreon">
                                    <h1 class="text-secondary">
                                        <i class="fab fa-patreon" aria-hidden="true"></i>
                                    </h1>
                                </a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-link" target="_blank" href="https://mobile.twitter.com/fundaciontoby"
                                    aria-label="Twitter">
                                    <h1 class="text-secondary">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </h1>
                                </a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-link" target="_blank" href="https://www.facebook.com/fundacionToby/"
                                    aria-label="Facebook">
                                    <h1 class="text-secondary">
                                        <i class="fab fa-facebook" aria-hidden="true"></i>
                                    </h1>
                                </a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-link" target="_blank" href="https://wa.me/525585578277?text=Hola!"
                                    aria-label="WhatsApp">
                                    <h1 class="text-secondary">
                                        <i class="fab fa-whatsapp" aria-hidden="true"></i>
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <a class="btn btn-link" target="_blank" href="https://www.tiktok.com/@fundaciontoby"
                                    aria-label="TikTok">
                                    <h1 class="text-secondary">
                                        <i class="fab fa-tiktok" aria-hidden="true"></i>
                                    </h1>
                                </a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-link" target="_blank" href="https://www.youtube.com/channel/UCL_sJMWnU5AG5SEMOHgj9UA"
                                    aria-label="YouTube">
                                    <h1 class="text-secondary">
                                        <i class="fab fa-youtube" aria-hidden="true"></i>
                                    </h1>
                                </a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-link" target="_blank" href="https://instagram.com/fundaciontoby"
                                    aria-label="Instagram">
                                    <h1 class="text-secondary">
                                        <i class="fab fa-instagram" aria-hidden="true"></i>
                                    </h1>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Mapa de sitio -->
                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="col-sm-12 col-md">
                                <div class="index-mapa-sitio-element">
                                    <div>
                                        Identidad
                                    </div>
                                    <a href="#identidad/nosotros">Nosotros</a>
                                    <a href="#identidad/mision">Misión</a>
                                    <a href="#identidad/vision">Visión</a>
                                    <a href="#identidad/valores">Valores</a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md">
                                <div class="index-mapa-sitio-element">
                                    <a href="#animales">Adopciones</a>
                                    <a href="#animales/adopta">Galería</a>
                                    <a href="#animales/adopcionfisica">Adopción física</a>
                                    <a href="#animales/amigovirtual">Amigo virtual</a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md">
                                <div class="index-mapa-sitio-element">
                                    <a href="#donaciones">Donaciones</a>
                                    <a href="https://www.paypal.com/paypalme/fundaciontoby" target="_blank">PayPal</a>
                                    <!-- FALTA quitar con selectores el hover sobre el botón, para que sea un link completamente -->
                                    <a href="#" data-toggle="modal" data-target="#modaltransferbancaria">Transferencia
                                        bancaria</a>
                                    <a href="#donaciones/donacionespecie">Donación en especie</a>
                                    <a href="https://www.amazon.com.mx/hz/wishlist/ls/2QBSMT8KDKLUO?ref_=wl_share"
                                        target="_blank">Lista
                                        de Amazon</a>
                                    <a href="#donaciones/ventapays">Pays</a>
                                    <a href="https://fundacion-toby.myshopify.com/" target="_blank">Mercancia
                                        Toby</a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md">
                                <div class="index-mapa-sitio-element">
                                    <a href="#refugio">Refugio</a>
                                    <a href="#refugio/rescate">Rescate</a>
                                    <a href="#refugio/rehabilitacion">Rehabilitación</a>
                                    <a href="#animales/instalaciones">El Rancho</a>
                                    <a href="#refugio/casosexito">Casos de éxito</a>
                                    <a href="#refugio/homenaje">Salón del recuerdo</a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md">
                                <div class="index-mapa-sitio-element">
                                    <div>
                                        Información
                                    </div>
                                    <a href="#preguntasfrecuentes/preguntasfrecuentes">Preguntas frecuentes</a>
                                    <a href="#preguntasfrecuentes/contacto">Contacto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>