<h3>Amigo virtual</h3>
<p>Puedes revisar la galería de nuestros perros y si alguno atrapa tu atención, ya sea por su
    historia, por su mirada
    o porque te gustaría ayudarlo, pero no puedes en este momento tener una mascota en casa, existe la opción de nuestra
    adopción virtual. El proceso es muy sencillo, solo tienes que seguir los siguientes pasos.
</p>
<div class="justify-center">
    <div class="parentbox">
        <a href="#/animales/adopta" target="_blank">
            <img class="childrenbox" src="/resources/images/adoptionprocess/processadopt.svg">
        </a>
        <a href="https://forms.gle/fjf8gpNMAzXmN5JH7" target="_blank">
            <img class="childrenbox" src="/resources/images/adoptionprocess/processform.svg">
        </a>
        <img class="childrenbox" src="/resources/images/adoptionprocess/processhelp.svg">
        <img class="childrenbox" src="/resources/images/adoptionprocess/processfrecuency.svg">
        <a href="#/heroes" target="_blank">
            <img class="childrenbox" src="/resources/images/adoptionprocess/processprize.svg">
        </a>
    </div>
</div>
<h3>Adopción Física</h3>
<p>Si te interesa adoptar a uno de nuestros Tobys para que sea parte de tu familia y tenga un nuevo hogar, nuestro
    primer filtro es muy simple.</p>
<ul>
    <li>Compromiso total a que los perros no vivan (día y noche) en la azotea o el patio.</li>
    <li>Aceptar el envio a Fundacion Toby fotografías o videos, mínimo mensualmente, del Toby adoptado.
    </li>
</ul>
<p>Si cumples con esto, ¡felicidades!, podemos avanzar con la adopción. Lo que sigue es muy sencillo, ya que sólo
    tienes que llenar nuestro formulario de adopción física y nos pondremos en contacto contigo.
</p>
<br>