<div>
    <h3>Amigo virtual</h3>
    <p>Puedes revisar la galería de nuestros perros y si alguno atrapa tu atención, ya sea por su
        historia, por su mirada
        o porque te gustaría ayudarlo, pero no puedes en este momento tener una mascota en casa, existe la opción de
        nuestra
        adopción virtual. El proceso es muy sencillo, solo tienes que seguir los siguientes pasos.
    </p>
    <div class="parentcontainer">
        <div class="soncontainerYE">
            <div class="rowTwins">
                <div class="rowYE">
                    <h1 class="verticalcenter">1</h1>
                </div>
                <div class="rowYEicon">
                    <img class="banner" src="/resources/images/Banner.svg">
                    <i class="fas fa-dog fa-4x relative" style="color: var(--espinitas-naranja)"></i>
                </div>
            </div>
            <div class="rowtextYE">
                <div class="textYE">
                    <h4>Admira a los Tobys</h4>
                    <p>En la tarjeta del Toby que quieres apoyar, encontrarás el botón “Amigo Virtual”, que abrirá un
                        formulario.</p>
                    <button type="button" class="btn btn-outline-secondary btn-sms">GALERIA</button>
                </div>
            </div>
        </div>

        <div class="soncontainerYE soncontainerYE2">
            <div class="rowTwins">
                <div class="rowYE">
                    <h1 class="verticalcenter">2</h1>
                </div>
                <div class="rowYEicon">
                    <img class="banner" src="/resources/images/Banner.svg">
                    <i class="fas fa-clipboard-list fa-4x relative2" style="color: var(--espinitas-naranja)"></i>
                </div>
            </div>
            <div class="rowtextYE">
                <div class="textYE">
                    <h4>Responde el formulario</h4>
                    <p>Esto nos ayudará a mantenernos en contacto contigo y conocerte un poco mejor.</p>
                    <button type="button" class="btn btn-outline-secondary btn-sms">AMIGO VIRTUAL</button>
                </div>
            </div>
        </div>
        <div class="soncontainerYE">
            <div class="rowTwins">
                <div class="rowYE">
                    <h1 class="verticalcenter">3</h1>
                </div>
                <div class="rowYEicon">
                    <img class="banner" src="/resources/images/Banner.svg">
                    <i class="fas fa-calendar-alt fa-4x relative3" style="color: var(--espinitas-naranja)"></i>
                </div>
            </div>
            <div class="rowtextYE">
                <div class="textYE">
                    <h4>Marca la frecuencia de la donación</h4>
                    <p>Esto no te obliga a nada, pero nos ayuda a planear nuestros recursos.
                        Puede ser una donación mensual, semanal o única.
                    </p>
                </div>
            </div>
        </div>

        <div class="soncontainerYE">
            <div class="rowTwins">
                <div class="rowYE">
                    <h1 class="verticalcenter">4</h1>
                </div>
                <div class="rowYEicon">
                    <img class="banner" src="/resources/images/Banner.svg">
                    <i class="fas fa-medal fa-4x relative4" style="color: var(--espinitas-naranja)"></i>
                </div>
            </div>
            <div class="rowtextYE">
                <div class="textYE">
                    <h4>¡Gracias!</h4>
                    <p>Tu amigo Toby te enviará una sorpresa (foto, video) y serás ese mes un(a) héroe/heorína.</p>
                    <a href="/#heroes" role="button" class="btn btn-outline-info btn-sms">
                        NUESTROS HÉROES
                    </a>
                </div>
            </div>
        </div>



    </div>
    <h3>Adopción Física</h3>
    <p>Si te interesa adoptar a uno de nuestros Tobys para que sea parte de tu familia y tenga un nuevo hogar, nuestro
        primer filtro es muy simple.</p>
    <ul>
        <li>Compromiso total a que los perros no vivan (día y noche) en la azotea o el patio.</li>
        <li>Aceptar el envio a Fundacion Toby fotografías o videos, mínimo mensualmente, del Toby adoptado.
        </li>
    </ul>
    <p>Si cumples con esto, ¡felicidades!, podemos avanzar con la adopción. Lo que sigue es muy sencillo, ya que sólo
        tienes que llenar nuestro formulario de adopción física y nos pondremos en contacto contigo.
    </p>
    <br>
</div>