<!DOCTYPE html>
<div class="row">
    <div class="offset-1 col-10">
        <h4>Donaciones</h4>
        <p>
            En Fundación Toby toda la ayuda es bienvenida ya que nos ayuda a continuar nuestra labor en el día a día.
        </p>
        <p>
            La opción que se acomode mejor contigo, a nosotros nos ayuda a continuar nuestra labor y a los perritos les
            ayuda a seguir teniendo un espacio seguro donde seguir siendo saludables y hermosos perros en búsqueda de un
            hogar y una familia para siempre.
        </p>
        <div class="row">
            <div class="col-sm-4 mb-4">
                <a href="https://paypal.me/fundaciontoby" target="_blank">
                    <div class="card donaciones-tarjeta">
                        <div class="card-body donaciones-tarjeta-centrada">
                            <div class="text-center">
                                <div>
                                    <img src="./resources/images/paypal-logo.png" alt="Logo PayPal"
                                        style="width: 8rem;">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h6>Dona ayuda económica con PayPal.</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="https://www.amazon.com.mx/hz/wishlist/ls/2FZLX1XSK04QE?ref_=wl_share" target="_blank">
                    <div class="card donaciones-tarjeta">
                        <div class="card-body text-center donaciones-tarjeta-centrada">
                            <img src="./resources/images/Amazon_logo.png" alt="Amazon logo, logotype"
                                style="width: 10rem; height: auto">
                        </div>
                        <div class="card-footer">
                            <h6>Checa nuestra lista de deseos de Amazon y dona en especie.</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card donaciones-tarjeta">
                    <div class="card-body">
                        <h5>Banco Santander</h5>
                        <div class="text-muted">Cuenta</div>
                        <div>60577008001</div>
                        <div class="text-muted">CLABE</div>
                        <div>014180605770080014</div>
                        <div class="text-muted">Tarjeta</div>
                        <div>5579070082854475</div>
                    </div>
                    <div class="card-footer">
                        <h6 class="text-primary">Haz una transferencia o un depósito bancario a nuestra
                            cuenta.
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="https://wa.me/525585578277?text=Hola, me gustaría hacer un pedido de un Pay. Gracias!"
                    target="_blank">
                    <div class="card donaciones-tarjeta">
                        <div class="card-body text-center donaciones-tarjeta-centrada donaciones-card-body">
                            <img src="./resources/images/pie-guayaba.gif" alt="" style="height: 8rem;">
                        </div>
                        <div class="card-footer">
                            <h6>¿Hambre y ganas de ayudar? Ordena tus pays por Whatsapp <i class="fab fa-whatsapp"></i>
                            </h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="https://fundacion-toby.myshopify.com/" target="_blank">
                    <div class="card donaciones-tarjeta">
                        <div class="card-body text-center donaciones-tarjeta-centrada donaciones-card-body">
                            <img class="text-center" src="./resources/images/botellatoby.gif" alt=""
                                style="height: 9rem;">
                        </div>
                        <div class="card-footer">
                            <p class="h6">
                                Dale una olfateada a la mercancía oficial de los Tobies.
                            </p>
                            <p class="h6">
                                Compra algo lindo para ti o alguien más y ayúdanos a seguir nuestra inmensa labor. No te
                                arrepentirás.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-sm-4 mb-4">
                <div class="card donaciones-tarjeta">
                    <div class="card-body">
                        <div class="text-center">
                            <a href="https://www.facebook.com/fundacionToby/">
                                <h1>
                                    <i class="fab fa-facebook" aria-hidden="true"></i>
                                </h1>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h6 class="text-primary">
                            Haz que nuestros ladridos lleguen mas lejos. Compártenos con amigos, familiares y otros
                            humanos a través de tu red social favorita.
                        </h6>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>