<!DOCTYPE html>
<div class="row">
    <div class="offset-1 col-10">
        <h4>Donaciones</h4>
        <p>
            En Fundación Toby toda la ayuda es bienvenida ya que nos ayuda a continuar nuestra labor en el día a día.
        </p>
        <p>
            El apoyo puede tener muchas formas: puedes comprarar nuestros deliciosos pays o mercancía oficial. También
            puedes hacernos llegar donación en especie ya sea contactándonos de manera directa o ayudándonos a comprar
            cosas
            necesarias para el albergue en nuestra lista de deseos de Amazon. Si prefieres transferirnos apoyo económico
            o
            inlcuso formar parte del programa Adopción Virtual, !tenemos también opciones!
        </p>
        <p>
            La opción que se acomode mejor contigo, a nosotros nos ayuda a continuar nuestra labor y a los perritos les
            ayuda a seguir teniendo un espacio seguro donde seguir siendo saludables y hermosos perros en búsqueda de un
            hogar y una familia para siempre.
        </p>
        <div class="row">
            <div class="col-sm-4">
                <a href="https://paypal.me/fundaciontoby" target="_blank">
                    <div class="card donaciones-tarjeta">
                        <div class="card-body">
                            <div>
                                <img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_74x46.jpg"
                                    alt="PayPal Logo">
                            </div>
                        </div>
                    </div>
                </a>
                <h6>PayPal</h6>
            </div>
            <div class="col-sm-4">
                <a href="https://www.amazon.com.mx/hz/wishlist/ls/2FZLX1XSK04QE?ref_=wl_share" target="_blank">
                    <div class="card donaciones-tarjeta">
                        <div class="card-body">
                            <img src="http://logo-logos.com/2016/12/Amazon_logo.png" alt="Amazon logo, logotype"
                                style="width: 10rem; height: auto">
                        </div>
                    </div>
                </a>
                <h6>Nuestra lista de deseos de Amazon</h6>
            </div>
            <div class="col-sm-4">
                <div class="card donaciones-tarjeta">
                    <div class="card-body">
                        <h5>Banco Santander</h5>
                        <div class="text-muted">Cuenta</div>
                        <div>60577008001</div>
                        <div class="text-muted">CLABE</div>
                        <div>014180605770080014</div>
                        <div class="text-muted">Tarjeta</div>
                        <div>5579070082854475</div>
                    </div>
                </div>
                <h6>Transferencias electrónicas</h6>
            </div>
            <div class="col-sm-4">
                <a href="https://wa.me/525585578277?text=Hola, me gustaría hacer un pedido de un Pay. Gracias!"
                    target="_blank">
                    <div class="card donaciones-tarjeta">
                        <div class="card-body">
                            <div class="text-center">
                                <img class="text-center" src="./resources/images/pie001.gif" alt=""
                                    style="width: 10rem;">
                            </div>
                            <p>
                                ¡Da click aquí para hacer tu pedido por Whatsapp!
                            </p>
                        </div>
                    </div>
                </a>
                <h6>Pays</h6>
            </div>
            <!-- <div class="col-sm-4">
                <a href="https://fundacion-toby.myshopify.com/">
                    <div class="card donaciones-tarjeta">
                        <div class="card-body">
                            <div class="text-center">
                            </div>
                        </div>
                    </div>
                </a>
                <h6>Mercancia Toby</h6>
            </div> -->
        </div>
    </div>
</div>