<div style="display: flex; justify-content: center; flex-wrap: wrap;">
    <div class="card">
        <div class="card-body">
            <h2>Santander</h2>
            <div class="text-muted">Cuenta</div>
            <div>60577008001</div>
            <div class="text-muted">CLABE</div>
            <div>014180605770080014</div>
            <div class="text-muted">Tarjeta</div>
            <div>5579070082854475</div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2>PayPal</h2>
            <div>
                <a href="https://paypal.me/fundaciontoby" target="_blank">paypal.me/fundaciontoby</a>
            </div>
        </div>
    </div>
</div>