<h3>No todos los héroes y heroínas usan capa</h3>
<p>Bienvenid@s a nuestro salón de la fama, donde cada mes podemos agradecer a quienes nos han apoydo a seguir con
  nuestra
  misión.
</p>
<div>
  <div class="heroes-cardcontainer">
    <div class="heroes-background">
      <div class="heroes-txt-thanks">
        <h3 class="heroes-encabezado">¡Gracias Adriana!</h3>
      </div>
      <div class="heroes-avatars-box">
        <div class="heroes-avatars-columns">
          <div class="top-bottompadding-center">Bartolomeo</div>
          <div class="heroes-circle-right heroes-avatar-container"></div>
        </div>
        <div class="heroes-avatars-columns">
          <div class="top-bottompadding-center""> <i class="fab fa-twitter-square fa-xl"></i>
            <i class="fas fa-at"></i>Adriana</div>
          <div class="heroes-circle-left heroes-avatar-container"></div>
        </div>
      </div>
    </div>
      <div class="heroes-title-card">Tu patita logra mucho</div>
  
    <div class="heroes-container-stickers">
      <div class="heroes-container-column">
        <div class="heroes-stickers"></div>
        <div class="heroes-stickers-text">Calientito</div>
      </div>
      <div class="heroes-container-column">
        <div class="heroes-stickers sticker2"></div>
        <div class="heroes-stickers-text">Con techo sobre las orejas</div>
      </div>
      <div class="heroes-container-column">
        <div class="heroes-stickers sticker3"></div>
        <div class="heroes-stickers-text">Con mi medicina</div>
      </div>
    </div>
    <div class="heroes-agradecimiento-box">Adriana ha adoptado virtualmente a Arru.
      Es la mejor familia ya que mensualmente el envia croquetas para llenar su pancita.
      Te amamos mucho Adriana!</div>
    <div class="heroes-card-button">
      <a href="#/" role="button" class="btn btn-outline-light btn-sm">
        <i class="fas fa-link" aria-hidden="true"></i>
        COMPARTE
      </a>
    </div>
  </div>
</div>