<h3>No todos los héroes y heroínas usan capa</h3>
<h5>Bienvenid@s a nuestro salón de la fama, donde cada mes podemos agradecer a quienes nos han apoydo a seguir con
  nuestra
  misión.
</h5>

<div class="heroes-cardcontainer">
  <div class="heroes-txt-thanks">
    <h3>Gracias Adriana!</h3>
  </div>
  <div class="heroes-avatars-box">
    <div class="heroes-avatars-columns">
      <div>Nombre del perrito</div>
        <div class="heroes-circle-right heroes-avatar-container">Perrito dibujo</div>
    </div>
    <div class="heroes-avatars-columns">
      <div>Nombre del heroe</div>
        <div class="heroes-circle-left heroes-avatar-container">Heroes dibujo</div>
    </div>
  </div>

<div class="heroes-title-card">Tú patita ayuda a Arru</div>
<div class="heores-container-stickers">
  <div class="heroes-stickers">Sticker1</div>
  <div class="heroes-stickers">Sticker2</div>
  <div class="heroes-stickers">Sticker3</div>
</div>
<div>Texto de agradecimiento para los amigos</div>
</div>
</div>