<div class="">
    <div class="card-body">
        <h2 class="card-title">
            Fundación Toby
        </h2>
        <div class="row">
            <div class="col-sm-12 col-xl-4">
                <img class="img-thumbnail" src="./resources/images/dog-01.jpg" alt="" srcset="">
                <h3 class="text-secondary">Dona</h3>
            </div>
            <div class="col-sm-12 col-xl-4">
                <img class="img-thumbnail" src="./resources/images/dog-01.jpg" alt="" srcset="">
                <h3 class="text-secondary">Casos de éxito</h3>
            </div>
            <div class="col-sm-12 col-xl-4">
                <img class="img-thumbnail" src="./resources/images/dog-01.jpg" alt="" srcset="">
                <h3 class="text-secondary">Impacto</h3>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        Contacto
    </div>
</div>