<!DOCTYPE html>
<div class="row">
    <div class="col-sm-12 col-md-4 home-card">
        <div class="home-button">
            <div class="home-button-card home-button-v1"
                style="background-image: url(./resources/images/adopta001.jpg);">
            </div>
            <h4 class="text-secondary home-button-title">Galería</h4>
        </div>
        <div class="card home-button-text">
            <div class="card-body card-body-home">
                <p>Encuentra a un nuevo mejor amigo canino para llevar a casa y forme parte de tu familia.</p>
                <p>La adopción puede ser física o virtual.</p>
            </div>
            <div class="card-footer card-footer-home">
                <a href="#animales/adopta" role="button" class="btn btn-outline-info">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                    DESCUBRIR
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 home-card">
        <div class="home-button">
            <div class="home-button-card" style="background-image: url(./resources/images/dona001.jpg);">
            </div>
            <h4 class="text-secondary home-button-title">Ayuda</h4>
        </div>
        <div class="card home-button-text">
            <div class="card-body card-body-home">
                <p>Ayudar tiene muchas formas y todas aportan, sin importar el tamaño</p>
                <p>¡No nos olvides!</p>
            </div>
            <div class="card-footer card-footer-home">
                <a href="#donaciones" role="button" class="btn btn-outline-info">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    DONAR
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 home-card" role="button">
        <div class="home-button">
            <div class="home-button-card home-button-v3"
                style="background-image: url(./resources/images/casosexito001.jpg);">
            </div>
            <h4 class="text-secondary home-button-title">Historias de felicidad</h4>
        </div>
        <div class="card home-button-text">
            <div class="card-body card-body-home">
                <p>También puedes ser parte de las historias interespecie que tienen un final feliz </p>
                <p>¡Lee algunas!</p>
            </div>
            <div class="card-footer card-footer-home">
                <a href="#" role="button" class="btn btn-outline-info">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    VER
                </a>
            </div>
        </div>
    </div>
</div>