<div class="card-body">
    <div class="row">
        <div class="col-sm-12 col-md-4" role="button">
            <div class="home-button">
                <div class="home-button-card" style="background-image: url(./resources/images/dog-white-01.jpg);">
                </div>
                <h3 class="text-secondary home-button-title">Adopta</h3>
            </div>
            <div class="card home-button-text">
                <div class="card-body card-body-home">
                    Encuentra a un nuevo mejor amigo canino.
                </div>
                <div class="card-footer card-footer-home">
                    ADOPCIONES <i class="fas fa-caret-right" style="color: #FFBA69;"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" role="button">
            <div class="home-button">
                <div class="home-button-card" style="background-image: url(./resources/images/dog-01-croquetas.jpeg);">
                </div>
                <h3 class="text-secondary home-button-title">Dona</h3>
            </div>
            <div class="card home-button-text">
                <div class="card-body card-body-home">
                    Ayudar tiene muchas formas y todas aportan, sin importar el tamaño.<br>
                    ¡No nos olvides!
                </div>
                <div class="card-footer card-footer-home">
                    DONACIONES <i class="fas fa-caret-right" style="color: #FFBA69;"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" role="button">
            <div class="home-button">
                <div class="home-button-card" style="background-image: url(./resources/images/dog-02-happy.jpg);">
                </div>
                <h3 class="text-secondary home-button-title">Casos de éxito</h3>
            </div>
            <div class="card home-button-text">
                <div class="card-body card-body-home">
                    También puedes ser parte de las historias interespecie que tienen un final
                    feliz.<br>
                    ¡Lee algunas!
                </div>
                <div class="card-footer card-footer-home">
                    HISTORIAS <i class="fas fa-caret-right" style="color: #FFBA69;"></i>
                </div>
            </div>
        </div>
    </div>
</div>