<div class="bordercard">
    <div class="card" style="width: 22rem;">
        <div class="card-header text-center">
            <h5 class="card-title plecanegra">YOKO</h5>
            <h6 class="card-title">2020 - 2022</h6>
        </div>
        <img src="/resources/images/Yoko.jpg" class="card-img-top filtersepia adopta-foto" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>