<!DOCTYPE html>
<h3>Memorial</h3>
<p>Este espacio existe para recordar a nuestros Tobys que han fallecido. Formaron parte de nuestra
    historia y nosotros de la suya. Su cuerpo ya no está con nosotros, pero si su recuerdo. Tal vez muchos no
    tuvieron la oportunidad de tener una familia, pero siempre serán parte de la familia de Fundación Toby.
    ¡Corran mucho pequeños!, Ya no hay dolor, ni hambre, ni frío, o indiferencia, mas bien hay calor, amor y pelotas.
</p>
<!-- <p>¿Tu mascota ha fallecido recientemente y te gustaría que formara parte de nuestro Memorial? Envía
    un correo electrónico con tu solicitud, para que te digamos que informaci
</p> -->
<div data-template="#/animales/galerias/galeria"></div>