<h5>Mision</h5>
<p>Nuestra misión es...</p>
<h5>Visión</h5>
<p>Nuestra visión es...</p>
<div>
  <h5>Nuestro equipo</h5>
  <div class="nosotros-galery">
    <div class="nosotros-columns">
      <div class="nosotros-profilepic">
        <img src="https://drive.google.com/uc?export=view&id=17OtIwWzRZHFhYyxq35auGGv7sg9cS5LQ" class="nosotros-shape">
      </div>
      <div class="nosotros-text">
        <div>Fundadora</div>
        <div>Nombre 1</div>
      </div>
    </div>
    <div class="nosotros-columns">
      <div class="nosotros-profilepic">
        <img src="https://drive.google.com/uc?export=view&id=17OtIwWzRZHFhYyxq35auGGv7sg9cS5LQ" class="nosotros-shape">
      </div>
      <div class="nosotros-text">
        <div>Fundador</div>
        <div>Nombre 2</div>
      </div>
    </div>
    <div class="nosotros-columns">
      <div class="nosotros-profilepic">
        <img src="https://drive.google.com/uc?export=view&id=17OtIwWzRZHFhYyxq35auGGv7sg9cS5LQ" class="nosotros-shape">
      </div>
      <div class="nosotros-text">
        <div>Fundadora</div>
        <div>Nombre 3</div>
      </div>
    </div>
    <div class="nosotros-columns">
      <div class="nosotros-profilepic">
        <img src="https://drive.google.com/uc?export=view&id=17OtIwWzRZHFhYyxq35auGGv7sg9cS5LQ" class="nosotros-shape">
      </div>
      <div class="nosotros-text">
        <div>Fundador</div>
        <div>Nombre 4</div>
      </div>
    </div>
    <div class="nosotros-columns">
      <div class="nosotros-profilepic">
        <img src="https://drive.google.com/uc?export=view&id=17OtIwWzRZHFhYyxq35auGGv7sg9cS5LQ" class="nosotros-shape">
      </div>
      <div class="nosotros-text">
        <div>Colaborador</div>
        <div>Nombre 5</div>
      </div>
    </div>
    <div class="nosotros-columns">
      <div class="nosotros-profilepic">
        <img src="https://drive.google.com/uc?export=view&id=17OtIwWzRZHFhYyxq35auGGv7sg9cS5LQ" class="nosotros-shape">
      </div>
      <div class="nosotros-text">
        <div>Colaborador</div>
        <div>Nombre 6</div>
      </div>
    </div>
  </div>
</div>
<h5>Reportajes sobre la fundación</h5>
<div class="nosotros-galery">
  <iframe class="nosotros-video" width="560" height="315" src="https://www.youtube.com/embed/WQDUfX8kVH4"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    <iframe class="nosotros-video" width="560" height="315" src="https://www.youtube.com/embed/WQDUfX8kVH4"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>