<h5>Mision</h5>

<h5>Visión</h5>


<h5>Nuestro equipo</h5>
<div class="nosotros-galery">
  <div class="nosotros-columns">
    <div class="nosotros-profilepic">picture</div>
    <div>Fundadora</div>
    <div>Nombre 1</div>
  </div>
  <div class="nosotros-columns">
    <div class="nosotros-profilepic">picture</div>
    <div>Fundador</div>
    <div>Nombre 2</div>
  </div>
  <div class="nosotros-columns">
    <div>picture</div>
    <div>Fundadora</div>
    <div>Nombre 3</div>
  </div>
  <div class="nosotros-columns">
    <div>picture</div>
    <div>Fundador</div>
    <div>Nombre 4</div>
  </div>
  <div class="nosotros-columns">
    <div>picture</div>
    <div>Colaborador</div>
    <div>Nombre 5</div>
  </div>
  <div class="nosotros-columns">
    <div>picture</div>
    <div>Colaborador</div>
    <div>Nombre 6</div>
  </div>
</div>

<h5>Reportajes de la fundación</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/WQDUfX8kVH4" title="YouTube video player"
  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>