<!DOCTYPE html>
<div id="galeria-app">
    <div class="cargando" :class="{ 'app-hide': ready }">
        Cargando...
    </div>
    <div class="app-hide" :class="{ 'app-show': ready }">
        <div data-template="#/animales/galerias/filtros">
        </div>
        <div class="memorial-bordercard-container">
            <div class="bordercard mt-4 mb-4" v-for="card in cards">
                <div class="card" style="width: 22rem;">
                    <div class="card-header text-center">
                        <h5 class="card-title plecanegra">{{card.nombre}}</h5>
                        <h6 class="card-title">{{card.anoNacimientoAproximado}} - {{card.anoFallecimiento}}</h6>
                    </div>
                    <div class="memorial-card-container">
                    <img role="button" @click="showPhoto(card.key)" class="card-img-top filtersepia adopta-foto"
                        :src="card.pictureurl" loading="lazy" @load="imageLoaded(card)" @error="imageError(card)">
                    <div class="memorial-card-overlay-flowers"></div>
                    </div>
                        <div class="card-body adopta-card-body pt-1">
                        <div class="adopta-card-datos p-1 px-2 pt-3"
                            data-template="#/animales/galerias/galeria-card-datos">
                        </div>
                        <p class="card-text">{{card.historia}}</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-secondary btn-block" @click="showPhoto(card.key)">
                            <i class="small fas fa-plus"></i> más detalles
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="perritoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-sm adopta-modal-close" data-dismiss="modal"
                                aria-label="Close">
                                <i class="h3 fas fa-times-circle"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h2 class="adopta-modal-nombre"><b>{{currentDog.nombre}}</b></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div style="position: relative;">
                                <div v-if="currentDog.loading" class="adopta-modal-cargando">
                                    <div>
                                        Cargando
                                        <div class="text-center">
                                            <div class="spinner-grow spinner-grow-sm" role="status"
                                                style="width: 1.2rem; height: 1.2rem;">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <img class="img-fluid rounded mx-auto adopta-modal-img" id="adopta-modal-img"
                                        loading="lazy" :src="currentDog.modalPicture" @load="imageLoaded(currentDog)"
                                        @error="imageError(currentDog)">
                                    <img loading="lazy" style="width: 0px; height: 0px;"
                                        :src="currentDog.modalPictureCache">
                                    <button class="btn btn-secondary adopta-modal-btn-left" @click="preview">
                                        <i class="fas fa-chevron-left"></i>
                                    </button>
                                    <button class="btn btn-secondary adopta-modal-btn-right" @click="next">
                                        <i class="fas fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="text-center m-2">
                                <i class="fas fa-circle m-1" v-for="(item, index) in currentDog.pictures" :class="{'adopta-modal-circulo-activo': currentDog.demoPictureIndex === index,
                                            'adopta-modal-circulo-inactivo': currentDog.demoPictureIndex !== index}">
                                </i>
                            </div>
                        </div>
                    </div>
                    <div data-template="#/animales/galerias/galeria-modal-datos-01"></div>
                    <div class="row">
                        <div class="col">
                            <p class="text-secondary">
                                <strong>
                                    Su historia
                                </strong>
                            </p>
                            <p>
                                {{currentDog.historia}}
                            </p>
                        </div>
                    </div>
                    <div data-template="#/animales/galerias/galeria-modal-datos-02"></div>
                </div>
                <div class="adopta-modal-adopcion">
                    <h4 class="text-center pt-3">
                        Como ayudar a {{currentDog.nombre}}
                    </h4>
                    <div class="px-4 py-2">
                        <p>
                            A pesar de que {{currentDog.nombre}} ya no está con nosotros, aún hay muchos perritos que
                            necesitan de tu ayuda.
                        </p>
                        <p>
                            Ayúdanos para que otros perritos puedan tener un hogar.
                        </p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfyWDsjKM0z_jt8pWtamcIEzKyq7YMltWVGiOHweBkqJBnsAA/viewform"
                            target="_blank" class="btn btn-outline-secondary btn-block text-uppercase">
                            <i class="small fas fa-desktop"></i>
                            Amigo Virtual
                        </a>
                        <a href="#/donaciones" class="btn btn-outline-secondary btn-block text-uppercase">
                            Formas de ayudar
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>