:root {
    --espinitas-azulclaro: #9ED2D6;
    --espinitas-azulbrillante: #3CA5AC;
    --espinitas-dorado: #AF9265;
    --espinitas-grisoscuro: #464646;
    --espinitas-hueso: #F8F8F0;
    --espinitas-naranja: #FFBA69;
    --espinitas-primary: var(--espinitas-azulbrillante);
    --espinitas-secondary: var(--espinitas-naranja);
}

.espinitas-primary {
    color: var(--espinitas-primary);
}

.espinitas-secondary {
    color: var(--espinitas-secondary);
}

.espinitas-icons {
    color: var(--espinitas-dorado);
}

#viewContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar {
    background-color: white;
}

.app-footer {
    margin: 0;
    min-height: 4rem;
}

.app-hide {
    display: none;
}

.app-show {
    display: block;
}

.adopta-vanish {

    /* This timing applies on the way OUT */
    /* transition-timing-function: ease-in; */

    /* Quick on the way out */
    transition: 0.2s;

    /* Hide thing by pushing it outside by default */
    /* transform: translateX(-100%); */

    opacity: 0;
}

.adopta-app {
    scroll-snap-type: y mandatory;
}

.adopta-card {
    transition: left 0.143s, width 2s, height 2s, background-color 2s, transform 2s, opacity 0.143s;
    top: 0;
    left: 0;
}

.adopta-foto-container {
    position: relative;
    scroll-snap-align: center;
}

.adopta-foto {
    min-height: 26em;
    object-fit: cover;
}

.adopta-header {
    background-color: #06858D;
    border-radius: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.adopta-historia {
    background-color: #F4F2E8;
    border-radius: 5px;
}

.adopta-isHidden {
    left: -200%;
    z-index: -1;
    opacity: 0;
}

.adopta-icon {
    color: var(--espinitas-dorado);
}

.adopta-modal-adopcion {
    background-color: var(--espinitas-hueso);
}

.adopta-modal-cargando {
    align-items: center;
    background-color: rgba(6, 132, 141, 0.614);
    color: var(--espinitas-hueso);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.adopta-modal-close {
    float: right;
    color: var(--espinitas-naranja);
}

.adopta-modal-nombre {
    color: var(--espinitas-primary);
    text-transform: uppercase;
    font-weight: 900;
}

.adopta-modal-fix {
    border-bottom: 0;
}

.adopta-modal-img {
    object-fit: cover;
    width: 40rem;
    height: 40rem;
}

.adopta-modal-btn-icon {
    vertical-align: text-bottom;
}

.adopta-modal-btn-left {
    background: lightgrey;
    border-radius: 50%;
    color: darkgray;
    height: 3rem;
    left: 0;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 3rem;
}

.adopta-modal-btn-right {
    background: lightgrey;
    border-radius: 50%;
    color: darkgray;
    height: 3rem;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 3rem;
}

.adopta-modal-btn-share {
    background-color: var(--espinitas-azulbrillante);
}

.adopta-modal-circulo-activo {
    color: var(--espinitas-azulbrillante);
}

.adopta-modal-circulo-inactivo {
    color: var(--espinitas-azulclaro);
}

.adopta-pill {
    color: var(--espinitas-grisoscuro);
    background-color: var(--espinitas-hueso);
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid green;
}

.blue {
    outline: 1px solid blue;
}

.card-body-home {
    background-color: #F5F5F5;
    min-height: 7rem;
}

.card-footer-home {
    border: 0;
}

.donaciones-card-body {
    min-height: 14rem;
}

.donaciones-tarjeta {
    min-height: 18rem;
}

.donaciones-tarjeta-centrada {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dotted {
    outline: 1px dotted green;
}

.home-encabezado {
    background-color: rgb(157, 210, 214);
    margin: 0;
}

.home-encabezado-bg {
    position: relative;
    z-index: 0;
}

.home-encabezado-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .05;
    z-index: -1;
    background-image: url('../resources/images/fondo001.gif');
    background-size: cover;
}

.home-encabezado-img {
    width: 20rem;
    height: auto
}

.home-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-button-card {
    display: flex;
    border: 10px solid #A57196;
    border-radius: 50%;
    height: 12.5rem;
    width: 12.5rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-button-v1 {
    border-color: #F2F6D0;
}

.home-button-v2 {
    border-color: #A57197;
}

.home-button-v3 {
    border-color: #FFBB6A;
}

.home-card {
    padding: 1rem;
}

.home-button-title {
    margin-top: 1.5rem;
    /* border-bottom: 2px solid #FFBA69; */
}

.home-button-text {
    margin-top: 2rem;
}

.index-footer {
    padding: 1rem 0;
}

.index-nuestras-redes {
    padding: 1rem;
}

.index-mapa-sitio-element {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.index-footer-nuestras-redes {
    border-radius: 5px;
    background-color: #FFBA69;
    color: #FFFFFF;
    padding: .5rem;
}

/* Customizaciones de Bootstrap */
.table .thead-light th {
    color: #495057;
    background-color: var(--espinitas-azulclaro);
    border-color: var(--espinitas-azulclaro);
}

.myselector tbody tr td {
    width: 60%;
    padding-left: 15%;
}

.myselector thead tr th {
    padding-left: 15%;
}

.button-link {
    padding: 0px;
    margin: 0px;
    text-align: left;
    box-shadow: none;
}

.parentbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #3CA5AC;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #AF9265 0, #AF9265 0.25px, white 0, white 50%);
}

.childrenbox {
    min-width: 200px;
    max-width: 300px;
    padding-left: 30px;
    margin: 0 30px;
}

.justify-center {
    display: flex;
    width: 100%;
    justify-content: center;
}

.bordercard{
    display: flex;
    width:22rem;
    padding: 3px;
    border-radius:5px;
    justify-content: center;
    background-image: linear-gradient(45deg, #EC3C27, #EB7C48, #ECDB55, #96CD61,#3CB7E6,#6560BF);
}

.filtersepia{
    filter:grayscale(90%);
}

.plecanegra{
    display: flex;
    background-color: #464646;
    color:white;
    height: 60px;
    border-radius:5px;
    justify-content: center;
    align-items: center;
}