:root {
    --espinitas-azulclaro: #9ED2D6;
    --espinitas-azulbrillante: #3CA5AC;
    --espinitas-dorado: #AF9265;
    --espinitas-grisoscuro: #464646;
    --espinitas-hueso: #F8F8F0;
    --espinitas-naranja: #FFBA69;
    --espinitas-primary: var(--espinitas-azulbrillante);
    --espinitas-secondary: var(--espinitas-naranja);
    --espinitas-amarillo: #F2F6D0;
    --espinitas-morado: #A57197;
    --espinitas-moradoscuro: #584F7F;
}

.espinitas-primary {
    color: var(--espinitas-primary);
}

.espinitas-secondary {
    color: var(--espinitas-secondary);
}

.espinitas-icons {
    color: var(--espinitas-dorado);
}

#viewContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar {
    background-color: white;
}

.app-footer {
    margin: 0;
    min-height: 4rem;
}

.adopta-vanish {

    /* This timing applies on the way OUT */
    /* transition-timing-function: ease-in; */

    /* Quick on the way out */
    transition: 0.2s;

    /* Hide thing by pushing it outside by default */
    /* transform: translateX(-100%); */

    opacity: 0;
}

.adopta-app {
    scroll-snap-type: y mandatory;
}

.adopta-card {
    width: 22rem;
    position: relative;
}

.adopta-card-header {
    background-color: white;
    border-bottom: 0;
}

.adopta-card-body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.adopta-card-footer {
    background-color: white;
    border-top: 0;
}

.adopta-card-datos {
    display: flex;
    justify-content: space-between;
}

.adopta-card-virtual {
    border-color: var(--espinitas-secondary);
}

.adopta-card-virtual-icon {
    position: absolute;
    right: -1rem;
    top: -1rem;
    rotate: -45deg;
    color: var(--espinitas-secondary)
}

.adopta-foto-container {
    position: relative;
    scroll-snap-align: center;
}


.adopta-foto {
    border-radius: 3px;
    height: 26em;
    object-fit: 100%;
}

.memorial-card-container {
    position: relative;
}

.memorial-card-overlay-flowers {
    position: absolute;
    top:65%;
    opacity: 0;
    height: 100%;
    width: 100%;
    -moz-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out; 
    -webkit-transition: transform 0.5s ease-out;
    transition: .5s ease-out;
    background-image: url(/resources/images/flowers.svg);
    background-repeat: no-repeat;
}

.memorial-card-container:hover .memorial-card-overlay-flowers {
    opacity: 1;
}

.adopta-header {
    background-color: #06858D;
    border-radius: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.adopta-historia {
    background-color: #F4F2E8;
    border-radius: 5px;
    flex: 1;
}

.adopta-isHidden {
    left: -200%;
    z-index: -1;
    opacity: 0;
}

.adopta-icon {
    color: var(--espinitas-dorado);
    padding-right: 4px;
}

.adopta-modal-adopcion {
    background-color: var(--espinitas-hueso);
}

.adopta-modal-cargando {
    align-items: center;
    background-color: rgba(6, 132, 141, 0.614);
    color: var(--espinitas-hueso);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.adopta-modal-close {
    float: right;
    color: var(--espinitas-naranja);
}

.adopta-modal-nombre {
    color: var(--espinitas-primary);
    font-weight: 900;
}

.adopta-modal-fix {
    border-bottom: 0;
}

.adopta-modal-img {
    background-color: black;
    object-fit: contain;
    width: 40rem;
    height: 40rem;
}

.adopta-modal-btn-icon {
    vertical-align: text-bottom;
}

.adopta-modal-btn-left {
    background: lightgrey;
    border-radius: 50%;
    color: darkgray;
    height: 3rem;
    left: 0;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 3rem;
}

.adopta-modal-btn-right {
    background: lightgrey;
    border-radius: 50%;
    color: darkgray;
    height: 3rem;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 3rem;
}

.adopta-modal-btn-share {
    background-color: var(--espinitas-azulbrillante);
}

.adopta-modal-circulo-activo {
    color: var(--espinitas-azulbrillante);
}

.adopta-modal-circulo-inactivo {
    color: var(--espinitas-azulclaro);
}

.adopta-pill {
    color: var(--espinitas-grisoscuro);
    background-color: var(--espinitas-hueso);
    font-size: 95%;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid green;
}

.blue {
    outline: 1px solid blue;
}

.card-body-home {
    background-color: #F5F5F5;
    min-height: 7rem;
}

.card-footer-home {
    border: 0;
    display: flex;
    justify-content: right;
}

.donaciones-card-body {
    min-height: 14rem;
}

.donaciones-tarjeta {
    min-height: 18rem;
}

.donaciones-tarjeta-centrada {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dotted {
    outline: 1px dotted green;
}

.home-encabezado {
    background: linear-gradient(45deg, #a57197, #b7b0da, #9ed2d6);
    margin: 0;
}

.home-encabezado-bg {
    position: relative;
    z-index: 0;
}

.home-encabezado-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .05;
    z-index: -1;
    background-image: url('../resources/images/fondo001.gif');
    background-size: cover;
}

.home-encabezado-img {
    width: 20rem;
    height: auto
}

.home-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-button-card {
    display: flex;
    border: 10px solid var(--espinitas-morado);
    border-radius: 50%;
    height: 12.5rem;
    width: 12.5rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-button-v1 {
    border-color: #F2F6D0;
}

.home-button-v2 {
    border-color: var(--espinitas-morado);
}

.home-button-v3 {
    border-color: #FFBB6A;
}

.home-card {
    padding: 1rem;
}

.home-button-title {
    margin-top: 1.5rem;
    /* border-bottom: 2px solid #FFBA69; */
}

.home-button-text {
    margin-top: 2rem;
}

.index-footer {
    padding: 1rem 0;
}

.index-nuestras-redes {
    padding: 1rem;
}

.index-mapa-sitio-element {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.index-footer-nuestras-redes {
    border-radius: 5px;
    background-color: var(--espinitas-azulbrillante);
    color: #FFFFFF;
    padding: .5rem;
}

/* Customizaciones de Bootstrap */
.table .thead-light th {
    color: #495057;
    background-color: var(--espinitas-azulclaro);
    border-color: var(--espinitas-azulclaro);
}

.myselector tbody tr td {
    width: 60%;
    padding-left: 15%;
}

.myselector thead tr th {
    padding-left: 15%;
}

.button-link {
    padding: 0px;
    margin: 0px;
    text-align: left;
    box-shadow: none;
}

.parentbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--espinitas-azulbrillante);
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #AF9265 0, #AF9265 0.25px, white 0, white 50%);
}

.childrenbox {
    min-width: 200px;
    max-width: 300px;
    padding-left: 30px;
    margin: 0 30px;
}

.memorial-bordercard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bordercard {
    display: flex;
    width: 22rem;
    padding: 3px;
    border-radius: 5px;
    justify-content: center;
    background-image: linear-gradient(45deg, #EC3C27, #EB7C48, #ECDB55, #96CD61, #3CB7E6, #6560BF);
}

.filtersepia {
    filter: grayscale(90%);
}


.pleca {
    color: white;
    border-radius: 5px;
}

.pleca-header {
    background-color: var(--espinitas-azulbrillante);
}

.plecanegra {
    display: flex;
    background-color: #464646;
    color: white;
    height: 60px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.app-hide {
    display: none;
}

.app-show {
    display: block;
}

.parentcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.soncontainerYE {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.rowTwins {
    display: flex;
    flex-direction: row;
    margin: 14px 14px 14px 14px;
}


.rowYE {
    background: linear-gradient(45deg, #a57197, #d06b77, #f0b070);
    text-align: center;
    width: 100px;
    margin-right: 21px;
    border-radius: 10px 0px 0px 10px;
    color: white;
    font-weight: bolder;
}

.rowYEgradient {
    background: linear-gradient(45deg, #a57197, #b7b0da, #9ed2d6);
}

.rowYEicon {
    filter: drop-shadow(3px 5px 2px rgba(97, 97, 97, 0.4));
    position: relative;
}

.banner {
    width: 140px;
    border-radius: 10px;
}

.relative {
    position: absolute;
    top: 40px;
    left: 36px;
}

.relative2 {
    position: absolute;
    top: 40px;
    left: 45px;
}

.relative3 {
    position: absolute;
    top: 40px;
    left: 42px;
}

.relative4 {
    position: absolute;
    top: 40px;
    left: 40px;
}

.rowtextYE {
    margin: 14px 14px 14px 14px;
}

.textYE {
    text-align: center;
    width: 278px;
    height: 100%;
}

.textYE>p {
    color: var(--espinitas-grisoscuro);
    font-size: 1.1rem;
}

.textYE>h4 {
    color: var(--espinitas-grisoscuro);
    font-weight: bold;
}


.verticalcenter {
    position: relative;
    top: 28%;
}

.pattern {
    background-color: #fafafa;
    background-size: 7px 7px;
    background-image: repeating-linear-gradient(45deg, #e9e8e9 0, #e9e8e9 0.7000000000000001px, #fafafa 0, #fafafa 50%);
}


.heroes-cardcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #9ED2D6, #BDB0C8, #584F7F);
    min-width: 350px;
    width: 380px;
    color: white;
    border-radius: 14px;
    padding: 8px;
}

.heroes-background{
    background-image: url(/resources/images/backgroundhuellas.svg);
    background-size: 55%;
}

.heroes-txt-thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width:100%;
    color:  var( --espinitas-moradoscuro);
    padding-top: 12px;
}

.heroes-encabezado {
    font-weight:800;
    letter-spacing: 0.2px;
}

h5 {
    font-weight:700;
    letter-spacing: 0.6px;
}

.heroes-avatars-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    color: var(--espinitas-moradoscuro);
    padding-bottom: 25px;
}

.heroes-avatars-columns {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top-bottompadding-center{
    padding: 10px 20px;
    width: 100%;
}

.heroes-avatar-container{
    position: absolute;
}

.heroes-circle-right{
    position: relative;
    background-color: white;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    right:-20px;
}

.heroes-circle-left {
    position: relative;
    background-color: #F8F8F0;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    left: -20px;
    border: 7px solid white;
    background-image: url(/resources/images/Avatars/Avatar\ 5.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

.heroes-title-card {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    width: 100%;
    padding: 5px 20px;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
    color: var(--espinitas-moradoscuro);
}

.heroes-container-column {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.heroes-container-stickers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.heroes-stickers {
    width:100px;
    height: 100px;
    background-image: url(/resources/images/Stickers/Dog\ 4.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.heroes-stickers.sticker2 {
    background-image: url(/resources/images/Stickers/Dog\ 2.svg);
}

.heroes-stickers.sticker3 {
    background-image: url(/resources/images/Stickers/Dog\ 3.svg);
}

.heroes-stickers-text{
    width: 100px;
    font-weight: 600;
    letter-spacing:0.4px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    margin-top: 6px;
}

.heroes-agradecimiento-box {
    height: 100%;
    padding:25px 32px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: justify;
    text-align-last:left ;
}

.heroes-card-button {
    display: flex;
    justify-content: flex-end;
    padding: 0px 25px 20px 25px;
}