#viewContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar {
    background-color: white;
}

.app-header {
    margin: 0;
}

.app-footer {
    margin: 0;
    min-height: 4rem;
}

.home-encabezado {
    background-color: #9DD2D6;

}

.home-logo-container {
    display: flex;
}

.home-encabezado-logo {
    max-height: 160px;
    margin-left: auto;
}

.home-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-button-title {
    margin-top: 1.5rem;
    /* border-bottom: 2px solid #FFBA69; */
}

.home-button-text {
    margin-top: 2rem;
}

.home-button-card {
    display: flex;
    border: 10px solid #A57196;
    border-radius: 50%;
    height: 12.5rem;
    width: 12.5rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dotted {
    outline: 1px dotted green;
}

.blue {
    outline: 1px solid blue;
}

.card-body-home {
    background-color: #F5F5F5;
    min-height: 7rem;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid green;
}

.card-footer-home {
    border: 0;
}

.index-nuestras-redes {
    padding: 1rem;
}

.index-mapa-sitio-element {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding: 1rem;
}

.index-mapa-sitio-nuestras-redes {
    min-width: 145px;
    max-height: 7rem;
    border-radius: 5px;
    background-color: #FFBA69;
    color: #FFFFFF;
    padding: 1.5rem;
    text-align: end
}

.home-card {
    padding: 1rem;
}

.adopta-init {
    display: none;
}