<!DOCTYPE html>
<div id="adopta-app">
    <div class="cargando" :class="{ 'app-hide': ready }">
        Cargando...
    </div>
    <div class="app-hide" :class="{ 'app-show': ready }">
        <div class="text-muted">
            Total de perritos en adopcion: {{total}}
        </div>
        <div class="row" style="justify-content: center;" v-for="card in cards" :key="card.key"
            :id="`card-${card.key}`">
            <div class="col-sm-12 col-md-7 mt-2 mb-2">
            <!-- <div class="col mt-2 mb-2"> -->
                <div class="card adopta-card" style="padding: 0" :class="{'adopta-isHidden': vanish}">
                    <div class="card-body">
                        <div class="card-title h3 text-center adopta-header">
                            {{card.nombre}}
                        </div>
                        <div class="row">
                            <!-- columna de datos -->
                            <div class="col-5" style="display: flex; flex-direction: column;">
                                <div style="padding: 0.2rem 0">
                                    <div class="text-secondary">
                                        tamaño
                                    </div>
                                    <i class="fas fa-paw text-muted" v-for="item in card.tamano"></i>
                                </div>
                                <div style="padding: 0.2rem 0">
                                    <div class="text-secondary">
                                        sexo
                                    </div>
                                    <div><i class="fas text-muted"
                                            :class="{'fa-mars': card.sexo === 'Macho', 'fa-venus': card.sexo === 'Hembra'}"></i>
                                    </div>
                                </div>
                                <div style="padding: 0.2rem 0">
                                    <div class="text-secondary">
                                        edad (años)
                                    </div>
                                    <div :class="['adopta-edad-' + card.edad]">{{card.edad}}</div>
                                </div>
                            </div>
                            <!-- foto -->
                            <div class="col-7" role="button" @click="showPhoto(card.key)">
                                <img class="img-thumbnail adopta-picture-frame" :src="card.pictureurl" loading="lazy">
                            </div>
                        </div>
                        <div class="adopta-historia">
                            {{card.historia}}
                            <div class="text-right m-2">
                                <button class="btn btn-link" @click="showPhoto(card.key)">
                                    más información
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="perritoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h5 class="modal-title" id="exampleModalLabel">{{currentDog.nombre}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-sm-0 col-sm-12 offset-md-3 col-md-6">
                            <div class="row">
                                <div class="col">
                                    <div style="position: relative;">
                                        <img id="adopta-modal-img" class="img-fluid rounded mx-auto adopta-modal-img"
                                            :src="currentDog.demoPictureUrl" loading="lazy">
                                        <img :src="currentDog.nextDemoPictureUrl" style="width: 0px; height: 0px;"
                                            loading="lazy">
                                        <button class="btn btn-secondary adopta-modal-btn-left" @click="preview">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <button class="btn btn-secondary adopta-modal-btn-right" @click="next">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                    <div class="text-center m-2">
                                        <i class="fas fa-circle m-1" v-for="(item, index) in currentDog.pictures"
                                            :class="{'text-primary': currentDog.demoPictureIndex === index,
                                            'adopta-model-circulo-inactivo': currentDog.demoPictureIndex !== index}">
                                        </i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="adopta-historia">
                                        {{currentDog.historia}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>